.footer_ul_contac {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_ul_copy {
  display: flex;
  justify-content: baseline;
  align-items: end;
}

.index_main_image {
  margin: 0 auto;
  display: block;
}

.index_main_2021_iframe, .index_main_2020_iframe, .index_main_2018_iframe, .index_main_20012_iframe, .index_main_2001_iframe {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: center;
  align-items: center;
}

.autor_main_itadaki_ul, .autor_main_paru_ul {
  list-style: square inside;
  padding-left: 10px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 200;
  color: antiquewhite;
}

body {
  background-color: rgb(39, 35, 35);
}

h1 {
  font-size: 36px;
  font-weight: 700;
  color: rgb(228, 200, 44);
  padding: 50px 40px 30px;
  margin: auto;
  text-align: center;
}

h2 {
  font-size: 26px;
  font-weight: 700;
  color: rgb(228, 200, 44);
  padding: 50px 40px 30px;
  margin: auto;
}

p {
  margin-left: 20px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

main article div p, main article div img {
  display: block;
}

header {
  background-color: rgb(168, 9, 9);
  height: 50px;
  display: flex;
  position: fixed;
  width: 100%;
}
header nav ul li a {
  color: black;
  font-size: 18px;
}

.header_nav {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "icono icono icono icono icono icono icono icono icono icono icono icono icono icono icono icono icono autor pers gale";
}

.header_nav_item_inicio {
  grid-area: icono;
}

.header_nav_item_autor {
  grid-area: autor;
  margin: 10px;
}

.header_nav_item_personajes {
  grid-area: pers;
  margin: 10px;
}

.header_nav_item_galeria {
  grid-area: gale;
  margin: 10px;
}

footer {
  background-color: rgb(168, 9, 9);
  width: 100%;
  position: absolute;
  display: block;
  margin-top: 10%;
}
footer p {
  color: black;
  font-size: 18px;
}
footer ul li a {
  color: black;
  font-size: 18px;
}

.footer_ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "copy copy contac contac contac face" "copy copy contac contac contac twit" "copy copy contac contac contac insta" "copy copy contac contac contac yout";
}

.footer_ul_copy {
  grid-area: copy;
}

.footer_ul_contac {
  grid-area: contac;
}
.footer_ul_contac a {
  font-size: 26px;
}

.footer_ul_face {
  grid-area: face;
}

.footer_ul_twit {
  grid-area: twit;
}

.footer_ul_insta {
  grid-area: insta;
}

.footer_ul_yout {
  grid-area: yout;
}

ion-icon {
  color: black;
  font-size: 18px;
}

.index_main_h1 {
  color: rgb(39, 35, 35);
}

.index_main_1_p, .index_main_1_p2, .index_main_1_h2 {
  text-align: center;
}

.index_main_2001 {
  border: 10px solid #d1b412;
  margin: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "title title title" "text text img" "vid vid img";
}

.index_main_2001_h2 {
  grid-area: title;
}

.index_main_2001_p {
  grid-area: text;
}

.index_main_2001_iframe {
  grid-area: vid;
}

.index_main_2001_img {
  grid-area: img;
  margin: 30px;
}

.index_main_20012 {
  border: 10px solid #d1b412;
  margin: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "title title title" "text text img" "vid vid img";
}

.index_main_20012_h2 {
  grid-area: title;
}

.index_main_20012_p {
  grid-area: text;
}

.index_main_20012_iframe {
  grid-area: vid;
}

.index_main_20012_img {
  grid-area: img;
  margin: 30px;
}

.index_main_2018 {
  border: 10px solid #d1b412;
  margin: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "title title title" "text text img" "vid vid img";
}

.index_main_2018_h2 {
  grid-area: title;
}

.index_main_2018_p {
  grid-area: text;
}

.index_main_2018_iframe {
  grid-area: vid;
}

.index_main_2018_img {
  grid-area: img;
  margin: 30px;
}

.index_main_2020 {
  border: 10px solid #d1b412;
  margin: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "title title title" "text text img" "vid vid img";
}

.index_main_2020_h2 {
  grid-area: title;
}

.index_main_2020_p {
  grid-area: text;
}

.index_main_2020_iframe {
  grid-area: vid;
}

.index_main_2020_img {
  grid-area: img;
  margin: 30px;
}

.index_main_2021 {
  border: 10px solid #d1b412;
  margin: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "title title title" "text text img" "vid vid img";
}

.index_main_2021_h2 {
  grid-area: title;
}

.index_main_2021_p {
  grid-area: text;
}

.index_main_2021_iframe {
  grid-area: vid;
}

.index_main_2021_img {
  grid-area: img;
  margin: 30px;
}

@media only screen and (max-width: 768px) {
  .index_main_image {
    height: 80%;
    width: 80%;
  }
  .index_main_2001 {
    border: 10px solid #d1b412;
    margin: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "title title title" "img img img" "text text text" "vid vid vid";
  }
  .index_main_2001_h2 {
    grid-area: title;
  }
  .index_main_2001_p {
    grid-area: text;
  }
  .index_main_2001_iframe {
    grid-area: vid;
    margin-left: 10%;
    margin-right: 10%;
    justify-self: center;
    width: 70%;
    height: 50%;
  }
  .index_main_2001_img {
    grid-area: img;
    margin: 30px;
    justify-self: center;
  }
  .index_main_20012 {
    border: 10px solid #d1b412;
    margin: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "title title title" "img img img" "text text text" "vid vid vid";
  }
  .index_main_20012_h2 {
    grid-area: title;
  }
  .index_main_20012_p {
    grid-area: text;
  }
  .index_main_20012_iframe {
    grid-area: vid;
    margin-left: 10%;
    margin-right: 10%;
    justify-self: center;
    width: 70%;
    height: 50%;
  }
  .index_main_20012_img {
    grid-area: img;
    margin: 30px;
    justify-self: center;
  }
  .index_main_2018 {
    border: 10px solid #d1b412;
    margin: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "title title title" "img img img" "text text text" "vid vid vid";
  }
  .index_main_2018_h2 {
    grid-area: title;
  }
  .index_main_2018_p {
    grid-area: text;
  }
  .index_main_2018_iframe {
    grid-area: vid;
    margin-left: 10%;
    margin-right: 10%;
    justify-self: center;
    width: 70%;
    height: 50%;
  }
  .index_main_2018_img {
    grid-area: img;
    margin: 30px;
    justify-self: center;
  }
  .index_main_2020 {
    border: 10px solid #d1b412;
    margin: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "title title title" "img img img" "text text text" "vid vid vid";
  }
  .index_main_2020_h2 {
    grid-area: title;
  }
  .index_main_2020_p {
    grid-area: text;
  }
  .index_main_2020_iframe {
    grid-area: vid;
    margin-left: 10%;
    margin-right: 10%;
    justify-self: center;
    width: 70%;
    height: 50%;
  }
  .index_main_2020_img {
    grid-area: img;
    margin: 30px;
    justify-self: center;
  }
  .index_main_2021 {
    border: 10px solid #d1b412;
    margin: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "title title title" "img img img" "text text text" "vid vid vid";
  }
  .index_main_2021_h2 {
    grid-area: title;
  }
  .index_main_2021_p {
    grid-area: text;
  }
  .index_main_2021_iframe {
    grid-area: vid;
    margin-left: 10%;
    margin-right: 10%;
    justify-self: center;
    width: 70%;
    height: 50%;
  }
  .index_main_2021_img {
    grid-area: img;
    margin: 30px;
    justify-self: center;
  }
}
.autor_main_itadaki {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: "100px, 500px, 150px, 150px";
  grid-template-areas: "h2" "img" "p" "ul";
}

.autor_main_itadaki_h2 {
  grid-area: h2;
}

.autor_main_itadaki_img {
  grid-area: img;
  margin: 0 auto;
}

.autor_main_itadaki_p {
  grid-area: p;
}

.autor_main_itadaki_ul {
  grid-area: ul;
  margin: 0 auto;
}

.autor_main_paru {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: "100px, 500px, 150px, 150px";
  grid-template-areas: "h2" "img" "p" "ul";
}

.autor_main_paru_h2 {
  grid-area: h2;
}

.autor_main_paru_img {
  grid-area: img;
  margin: 0 auto;
}

.autor_main_paru_p {
  grid-area: p;
}

.autor_main_paru_ul {
  grid-area: ul;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .autor_main_itadaki_img, .autor_main_paru_img {
    height: 80%;
    width: 80%;
  }
}
.personajes_main_baki {
  display: grid;
  grid-template-columns: "1fr,1fr,1fr";
  grid-template-rows: "1fr,1fr,1fr";
  grid-template-areas: "h2 h2 h2" "img p p" "img p p";
}

.personajes_main_baki_h2 {
  grid-area: h2;
}

.personajes_main_baki_p {
  grid-area: p;
}

.personajes_main_baki_img {
  grid-area: img;
}

.personajes_main_yuuji {
  display: grid;
  grid-template-columns: "1fr,1fr,1fr";
  grid-template-rows: "1fr,1fr,1fr";
  grid-template-areas: "h2 h2 h2" "img p p" "img p p";
}

.personajes_main_yuuji_h2 {
  grid-area: h2;
}

.personajes_main_yuuji_p {
  grid-area: p;
}

.personajes_main_yuuji_img {
  grid-area: img;
}

.personajes_main_jack {
  display: grid;
  grid-template-columns: "1fr,1fr,1fr";
  grid-template-rows: "1fr,1fr,1fr";
  grid-template-areas: "h2 h2 h2" "img p p" "img p p";
}

.personajes_main_jack_h2 {
  grid-area: h2;
}

.personajes_main_jack_p {
  grid-area: p;
}

.personajes_main_jack_img {
  grid-area: img;
}

.personajes_main_hana {
  display: grid;
  grid-template-columns: "1fr,1fr,1fr";
  grid-template-rows: "1fr,1fr,1fr";
  grid-template-areas: "h2 h2 h2" "img p p" "img p p";
}

.personajes_main_hana_h2 {
  grid-area: h2;
}

.personajes_main_hana_p {
  grid-area: p;
}

.personajes_main_hana_img {
  grid-area: img;
}

.personajes_main_doppo {
  display: grid;
  grid-template-columns: "1fr,1fr,1fr";
  grid-template-rows: "1fr,1fr,1fr";
  grid-template-areas: "h2 h2 h2" "img p p" "img p p";
}

.personajes_main_doppo_h2 {
  grid-area: h2;
}

.personajes_main_doppo_p {
  grid-area: p;
}

.personajes_maindoppo_img {
  grid-area: img;
}

.personajes_main_retsu {
  display: grid;
  grid-template-columns: "1fr,1fr,1fr";
  grid-template-rows: "1fr,1fr,1fr";
  grid-template-areas: "h2 h2 h2" "img p p" "img p p";
}

.personajes_main_retsu_h2 {
  grid-area: h2;
}

.personajes_main_retsu_p {
  grid-area: p;
}

.personajes_main_retsu_img {
  grid-area: img;
}

.personajes_main_oliva {
  display: grid;
  grid-template-columns: "1fr,1fr,1fr";
  grid-template-rows: "1fr,1fr,1fr";
  grid-template-areas: "h2 h2 h2" "img p p" "img p p";
}

.personajes_main_oliva_h2 {
  grid-area: h2;
}

.personajes_main_oliva_p {
  grid-area: p;
}

.personajes_main_oliva_img {
  grid-area: img;
}

@media only screen and (max-width: 768px) {
  .personajes_main_baki {
    display: grid;
    grid-template-columns: "1fr,1fr,1fr";
    grid-template-rows: "1fr,1fr,1fr";
    grid-template-areas: "h2 h2 h2" "img img img" "p p p";
  }
  .personajes_main_baki_h2 {
    grid-area: h2;
  }
  .personajes_main_baki_p {
    grid-area: p;
  }
  .personajes_main_baki_img {
    grid-area: img;
    justify-self: center;
  }
  .personajes_main_yuuji {
    display: grid;
    grid-template-columns: "1fr,1fr,1fr";
    grid-template-rows: "1fr,1fr,1fr";
    grid-template-areas: "h2 h2 h2" "img img img" "p p p";
  }
  .personajes_main_yuuji_h2 {
    grid-area: h2;
  }
  .personajes_main_yuuji_p {
    grid-area: p;
  }
  .personajes_main_yuuji_img {
    grid-area: img;
    justify-self: center;
  }
  .personajes_main_hana {
    display: grid;
    grid-template-columns: "1fr,1fr,1fr";
    grid-template-rows: "1fr,1fr,1fr";
    grid-template-areas: "h2 h2 h2" "img img img" "p p p";
  }
  .personajes_main_hana_h2 {
    grid-area: h2;
  }
  .personajes_main_hana_p {
    grid-area: p;
  }
  .personajes_main_hana_img {
    grid-area: img;
    justify-self: center;
  }
  .personajes_main_retsu {
    display: grid;
    grid-template-columns: "1fr,1fr,1fr";
    grid-template-rows: "1fr,1fr,1fr";
    grid-template-areas: "h2 h2 h2" "img img img" "p p p";
  }
  .personajes_main_retsu_h2 {
    grid-area: h2;
  }
  .personajes_main_retsu_p {
    grid-area: p;
  }
  .personajes_main_retsu_img {
    grid-area: img;
    justify-self: center;
  }
  .personajes_main_doppo {
    display: grid;
    grid-template-columns: "1fr,1fr,1fr";
    grid-template-rows: "1fr,1fr,1fr";
    grid-template-areas: "h2 h2 h2" "img img img" "p p p";
  }
  .personajes_main_doppo_h2 {
    grid-area: h2;
  }
  .personajes_main_doppo_p {
    grid-area: p;
  }
  .personajes_main_doppo_img {
    grid-area: img;
    justify-self: center;
  }
  .personajes_main_jack {
    display: grid;
    grid-template-columns: "1fr,1fr,1fr";
    grid-template-rows: "1fr,1fr,1fr";
    grid-template-areas: "h2 h2 h2" "img img img" "p p p";
  }
  .personajes_main_jack_h2 {
    grid-area: h2;
  }
  .personajes_main_jack_p {
    grid-area: p;
  }
  .personajes_main_jack_img {
    grid-area: img;
    justify-self: center;
  }
  .personajes_main_oliva {
    display: grid;
    grid-template-columns: "1fr,1fr,1fr";
    grid-template-rows: "1fr,1fr,1fr";
    grid-template-areas: "h2 h2 h2" "img img img" "p p p";
  }
  .personajes_main_oliva_h2 {
    grid-area: h2;
  }
  .personajes_main_oliva_p {
    grid-area: p;
  }
  .personajes_main_oliva_img {
    grid-area: img;
    justify-self: center;
  }
}
.galeria_main_h1 {
  margin-bottom: 10%;
}

.contacto_main_form {
  width: 60%;
  height: 80%;
  margin: 20%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: "40px,50px,30px,1fr";
  grid-template-areas: "name name namei namei email emaili emaili emaili" "text text text text text text text text" "texti texti texti texti texti texti texti texti" "submit submit submit submit submit submit submit submit";
}

.contacto_main_form_name {
  grid-area: name;
  justify-self: end;
}

.contacto_main_form_email {
  grid-area: email;
  justify-self: end;
}

.contacto_main_form_text {
  grid-area: text;
  justify-self: center;
}

.contacto_main_form_submit {
  grid-area: submit;
  width: 200px;
  height: 30px;
  justify-self: center;
  color: black;
}

.contacto_main_form_name_input {
  grid-area: namei;
  width: 60%;
  color: black;
}

.contacto_main_form_email_input {
  grid-area: emaili;
  width: 60%;
  color: black;
}

.contacto_main_form_text_input {
  grid-area: texti;
  width: 500px;
  height: 500px;
  justify-self: center;
  color: black;
}

.contacto_main_form_submit_button {
  display: none;
}

@media only screen and (max-width: 768px) {
  .contacto_main_form {
    display: grid;
    grid-template-columns: "1fr,1fr";
    grid-template-rows: "30px 30px 30px 300px 30px";
    grid-template-areas: "name namei" "email emaili" "text text" "texti texti" "submit submit";
  }
  .contacto_main_form_text_input {
    width: 300px;
    height: 300px;
  }
}

/*# sourceMappingURL=style.css.map */
